<h1>Search Results...</h1>
<div>
  You searched for "<%= params[:query].strip %>"
</div>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Bedrooms</th>
    <th>Distance from search</th>
    <th></th>
  </tr>

<% @properties.each do |property| %>
  <tr>
    <td><%= property[:property].name %></td>
    <td><%= property[:property].bedroom_count %></td>
    <td><%= property[:distance] %> km</td>
    <td>
        <%= link_to property[:property], :class => "btn", :id => "backLink" do %>
            <i class="icon-info-sign"></i> Show
        <% end %>
    </td>
  </tr>
<% end %>
</table>

<a href="#" class="btn back-link"><i class="icon-arrow-left"></i> Back</a>

<br />
