<h1>Welcome</h1>
<br />
<div>
  <%= form_tag({:controller => :properties, :action => :search}, :method => "post", :class => "form-search form-inline") do %>
  	<%= link_to "View Properties", {:controller => :properties}, :class => 'btn' %>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <%= label_tag(:query, "Search for:") %>
    <%= text_field_tag(:query, nil, :class => "search-query") %>
    <%= submit_tag("Search", :class => "btn") %>
  <% end %>
  <p>
    Search with terms like "1 bed flat London" or "Houses London". Default location is London; so could search "Flats".
</div>

